#footer {
    display: flex;
}

.logo {
    width: 165px;
    height: 90px;
}

#navbar-example3 {
    background-color: #212121;
}

#nav-text {
    color: white;
}

.body {
    background: green;
}

.Bienvenidos {
    margin-top: 120px;
}
#color-boton{
    background-color: white;
   
    color: red;
}
.marcas{
    margin: 20px;
}