.logo {
    width: 165px;
    height: 90px;
}

#navbar-example3 {
    background-color: #212121;
}

#nav-text {
    color: white;
}


#nav-text:hover {
    color: red;
    transition: 0.5s;
}

.navbar {
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#color-boton {
    background-color: white;
}

#color-boton:hover {
    color: red;
    transition: 0.5s;
}

body {
    font-size: large;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-style: italic;
}

/* FORMULARIO DE CONTACTO */

form {
    max-width: 500px;
    margin: 20px 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 5px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: red;
}

.intro-contacto {
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.container-info {
    max-width: 500px;
    margin: 20px 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.iconos-info {
    max-width: 24px;
    max-height: 24px;
}

.contact-info {
    display: flex;
}

/* FOOTER */

footer {
    background-color: #212121;
    color: #fff;
    padding: 5px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo-footer {
    max-width: 200px;
}

@media (max-width: 950px) {

    body {
        font-size: medium;
    }

    .container-footer {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .logo-footer {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 821px) {
    iframe {
        width: 351px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}


.centralsection{
margin-top: 50px;
display: flex;
width: 80%;
justify-content: space-around;
align-items: center;




}

.form-div{

display: flex;
flex-direction: column;
padding: 20px;



}
.fade-in{
    
}
.container-mapa{

  display: flex;
  display: block;
}

.ocultar-mapa{
    display: none;
}


@media (min-width: 1343px) {

    .query-contact{

        display: none;
    }
    
   
   
     
    

  
}

@media (max-width: 1343px) {

    .centralsection{
         
        display: none;
    }
   
 .fade-in2{
    display: none;
   }

  
}


