body {
    font-size: large;
    font-family: 'Lato', sans-serif;
   
}

h1 {
    font-style: italic;
    text-align: center;
}

.logo {
    width: 165px;
    height: 90px;
}

#navbar-example3 {
    background-color: #212121;
}

#nav-text {
    color: white;
}


#nav-text:hover {
    color: red;
    transition: 0.5s;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

span {
    color: red;
    font-weight: 500;
}

.Bienvenidos {
    margin-top: 120px;
}

#color-boton {
    background-color: white;
    border: 1px #212121;
    transition: 0.5s;
}

#color-boton:hover {
    border: 1px red;

}

.card-marcas {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}

.marcas {
    margin: 10px;
}


/* Ganancia */

.container-ganancia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/ganancia_background.jpg');
    background-size: cover;
    z-index: 1;

}

.seccion-ganancia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #fff;
    ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
}

.img-ganancia {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.ganancia-text {
    margin-top: 20px;
    font-size: x-large;
}

/* CARTAS SERVICIOS */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #fff;
    ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        flex-basis: 100%;
    }
}


/* FOOTER */

footer {
    background-color: #212121;
    color: #fff;
    padding: 5px;
    z-index: -1;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo-footer {
    max-width: 200px;
}

@media (max-width: 950px) {

    body {
        font-size: medium;
    }

    .container-footer {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .logo-footer {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* MAPA */

.instagram-btn {
    display: inline-block;
    background-color: #C13584;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.instagram-btn:hover {
    background-color: #E1306C;
}

.instagram-btn i {
    margin-right: 10px;
}

.instagram-btn i:before {
    content: "\f16d";
    font-family: "FontAwesome";
}

.container-contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.container-mapa {
    grid-column: 1 / 2;
}


.container-infotext {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.info-item {
    text-align: left;
}

.info-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 821px) {
    .container-contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .container-mapa {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-infotext {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-gap: 20px;
        margin-top: 20px;
    }

    .info-item {
        text-align: center;
    }

    iframe {
        width: 351px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* TRANSICION ENTRE PÁGINAS */

/* Apply this style to your page wrapper element */
.page-wrapper {
    position: relative;
}

/* Apply this style to your page content element */
.page-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Apply this style to the page content element when it is shown */
.page-content.show {
    opacity: 1;
}


.containermarcas {

    width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
    flex-direction: column;
   align-items: center;
   
  
   
   

}


.marcas-div {

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
   
   
 

}

.marca {
    height: 150px;
    width: 150px;
    display: block;
    
}

 .containerspace{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
  
   
} 
/* query marcas */
@media (max-width: 724px) {
    .containermarcas {

       display: none;
       
       
       
    
    }

    
   
    

}

@media(min-width:724px){

    .containerspace{
        display: none;
    }

}


 
    
    







.containermarcas-div2{
    margin-left: 80px;
}

