#footer {
    display: flex;
}

p {
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    width: 165px;
    height: 90px;
}

#navbar-example3 {
    background-color: #212121;
}

#nav-text {
    color: white;
}


#nav-text:hover {
    color: red;
    transition: 0.5s;
}

span {
    color: red;
    font-weight: 500;
}

.body {
    background: green;
}

.Bienvenidos {
    margin-top: 120px;
}

#color-boton {
    background-color: white;
}

#color-boton:hover {
    color: red;
    transition: 0.5s;
}

.marcas {
    margin: 20px;
}