body {
    font-size: large;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-style: italic;
}


.logo {
    width: 165px;
    height: 90px;
}

#navbar-example3 {
    background-color: #212121;
}

#nav-text {
    color: white;
}


#nav-text:hover {
    color: red;
    transition: 0.5s;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* FOOTER */

footer {
    background-color: #212121;
    color: #fff;
    padding: 5px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo-footer {
    max-width: 200px;
}


button {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #fff;
    ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
}

#color-boton {
    background-color: white;
    border: 1px #212121;
    transition: 0.5s;
}

#color-boton:hover {
    border: 1px red;

}
@media (max-width: 950px) {

    body {
        font-size: medium;
    }

    .container-footer {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .logo-footer {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin: 5px 0;
    }
}